force-app/main/default/flows/Annual_Giving_Statement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>emailGivingStatement</name>
        <label>Email Giving Statement</label>
        <locationX>50</locationX>
        <locationY>2246</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>update_DonationAcknowledgement</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback_General_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>bcc</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cb_bcc</name>
            <value>
                <stringValue>CB_TRUE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cb_saveAsActivity</name>
            <value>
                <stringValue>CB_TRUE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cb_saveAsTask</name>
            <value>
                <stringValue>CB_FALSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contentDocumentAttachments</name>
            <value>
                <elementReference>get_PDFAttachment</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HTMLbody</name>
            <value>
                <elementReference>tplEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsTask</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderDisplayName</name>
            <value>
                <elementReference>tplFromName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisOneEmailAddress</name>
            <value>
                <elementReference>emailContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>tplEmailSubject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendBetterEmail</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Without Attachement; uses standard SF functionality</description>
        <name>emailGivingStatementStandard</name>
        <label>Email Giving Statement</label>
        <locationX>1106</locationX>
        <locationY>2030</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>update_DonationAcknowledgement</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback_General_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>previewEmailFrom</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>tplEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>tplEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>get_DonorRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>Inserts the current Opportunity&apos;s information into an HTML template (via tplDonationRow) and then adds it to an array.</description>
        <name>assign_addDonationHTMLRow</name>
        <label>Add Donation HTML</label>
        <locationX>798</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>tplEmailBody_DonationRows</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tplDonationRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_increaseTotalDonationAmount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the current Opportunity&apos;s Amount to the Total</description>
        <name>assign_increaseTotalDonationAmount</name>
        <label>Increase Total</label>
        <locationX>798</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>tplEmailBody_TotalAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Each_Donation.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_updateOppyAcknowledgement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Annoyingly, this and the Update must happen before the Email send. The Apex Action requires a Contact Id (not an in-Flow variable) so that the email can be properly related. This means we MUST Update the record in case the User modified values. 
Yet, this date time should only be updated AFTER the email sent successfully.
Unfortunately, to avoid too many Update/DMLs, we accept the risk. We update the time before the email was sent. User must manually clear out the time stamp if there&apos;s an issue.</description>
        <name>assign_lastGivingStatementTime</name>
        <label>Update Last Giving Statement Time</label>
        <locationX>710</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>get_DonorRecord.lastYearlyGivingStatement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>help_Now</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Donor_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_updateOppyAcknowledgement</name>
        <label>Update Acknowledgement Status and Date</label>
        <locationX>798</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>Each_Donation.npsp__Acknowledgment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Acknowledged</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Each_Donation.npsp__Acknowledgment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionUpdatedDonations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Each_Donation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_Donation</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceAddressDonor_address</name>
        <choiceText>Mailing Address</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>address</stringValue>
        </value>
    </choices>
    <choices>
        <description>Choose to the address the letter to the Donor&apos;s Email Address</description>
        <name>choiceAddressDonor_email</name>
        <choiceText>Preferred Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>email</stringValue>
        </value>
    </choices>
    <constants>
        <name>configDonorRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Default</stringValue>
        </value>
    </constants>
    <constants>
        <description>Name of the Custom Metadata record</description>
        <name>configMetadataName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Promo_2025</stringValue>
        </value>
    </constants>
    <constants>
        <name>tplCmpDonationTableHeader</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;table style=&quot;border: 1px solid black;border-collapse: collapse;width:50%&quot;&gt;&lt;thead&gt;&lt;th style=&quot;border: 1px solid black;border-collapse: collapse;border-bottom: 3px solid black;width:50%&quot;&gt;Date&lt;/th&gt;&lt;th style=&quot;border: 1px solid black;border-bottom: 3px solid black;border-collapse: collapse&quot;&gt;Amount&lt;/th&gt;&lt;/thead&gt;</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Attachment_Found</name>
        <label>Attachment Found?</label>
        <locationX>314</locationX>
        <locationY>2138</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>errorBadAttachment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_PDFAttachment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>emailGivingStatement</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>includeAttachment</name>
        <label>Include Attachment</label>
        <locationX>710</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>emailGivingStatementStandard</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>includeAttachment_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>configIncludeAttachement.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_PDFAttachment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>The Contact must not be a Resident, must have donated a minimum amount, and must not have opted out of email contact</description>
        <name>relevantContact</name>
        <label>Relevant Contact</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>errorInsufficientDonation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>relevantContact_Admin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.SendGivingStatementAdmin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_donorInformation</targetReference>
            </connector>
            <label>Admin Override</label>
        </rules>
        <rules>
            <name>relevantContact_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_DonorRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>configDonorRecordType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_DonorRecord.npsp__Do_Not_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_DonorRecord.npo02__OppAmountLastYear__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>get_Settings.minimumDonationTotal__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>help_lastStatementSentThisYear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_donorInformation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Does the current User have permissions to send a Giving Statement?</description>
        <name>userPermissions</name>
        <label>User Permissions</label>
        <locationX>1304</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>userPermission_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.SendGivingStatement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_DonorRecord</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Collects Last Year&apos;s Donations, an uploaded PDF file, and sends them to the Donor as an email and attachment. Now, allows Promo emails for Admins.</description>
    <environments>Default</environments>
    <formulas>
        <description>Presents the previous year or current year (if selected by an admin). YYYY</description>
        <name>configFiscalYear</name>
        <dataType>Number</dataType>
        <expression>YEAR(TODAY()) - IF({!toggleFiscalYear.value},0,1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Needed because the SendBetterEmail action isn&apos;t the greatest.</description>
        <name>emailContactId</name>
        <dataType>String</dataType>
        <expression>{!get_DonorRecord.Id}</expression>
    </formulas>
    <formulas>
        <description>Returns true if the Contact&apos;s [Last Yearly Giving Statement] value is this Year. Prevents sending the email more than once a year</description>
        <name>help_lastStatementSentThisYear</name>
        <dataType>Boolean</dataType>
        <expression>NOT(
    OR(
        ISNULL({!get_DonorRecord.lastYearlyGivingStatement__c})
        ,YEAR(DATEVALUE({!get_DonorRecord.lastYearlyGivingStatement__c})) &lt;&gt; YEAR(TODAY())
    )
)</expression>
    </formulas>
    <formulas>
        <name>help_Now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <description>Because we don&apos;t Update the Contact until after the Preview Email screen (so that the user can make corrections using Prev without extra database updates), we need to resolve the Preferred Email address for display</description>
        <name>help_toEmailAddress</name>
        <dataType>String</dataType>
        <expression>CASE({!get_DonorRecord.npe01__Preferred_Email__c}
,&quot;Work&quot;,{!get_DonorRecord.npe01__WorkEmail__c}
,&quot;Alternate&quot;,{!get_DonorRecord.npe01__AlternateEmail__c}
,{!get_DonorRecord.npe01__HomeEmail__c}
)</expression>
    </formulas>
    <formulas>
        <name>tplCmpDonationTableFooter</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;tfoot&gt;&lt;th style=&apos;border: 1px solid black;border-collapse: collapse;border-top: 3px solid black;&apos;&gt;TOTAL&lt;/th&gt;&lt;th style=&apos;border: 1px solid black;border-collapse: collapse;border-top: 3px solid black;&apos;&gt;$&quot; + TEXT({!tplEmailBody_TotalAmount}) + &quot;&lt;/th&gt;&lt;/tfoot&gt;&quot; + &quot;&lt;/table&gt;&quot;</expression>
    </formulas>
    <formulas>
        <name>tplCmpFiscalYear</name>
        <dataType>String</dataType>
        <expression>TEXT({!configFiscalYear})</expression>
    </formulas>
    <formulas>
        <description>Applies HTML styling to a Donation for the table.</description>
        <name>tplDonationRow</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;tr style=&apos;border: 1px solid black;border-collapse: collapse;&apos;&gt;&lt;td style=&apos;border: 1px solid black;border-collapse: collapse;&apos;&gt;&quot; +TEXT( {!Each_Donation.CloseDate}) + &quot;&lt;/td&gt;&lt;td style=&apos;border: 1px solid black;border-collapse: collapse;&apos;&gt;$&quot; + TEXT({!Each_Donation.Amount}) + &quot;&lt;/td&gt;&lt;/tr&gt;&quot;</expression>
    </formulas>
    <interviewLabel>Annual Giving Statement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Annual Giving Statement</label>
    <loops>
        <name>Each_Donation</name>
        <label>Each Donation</label>
        <locationX>710</locationX>
        <locationY>1082</locationY>
        <collectionReference>get_Donations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_addDonationHTMLRow</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>screen_previewEmail</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Gets Opportunities related to the Contact&apos;s Account (Household). Not every Opportunity has a &quot;Primary&quot; contact, so this is a more reliable way. This also encourages one email per account rather than for every member.</description>
        <name>get_Donations</name>
        <label>Get Donations</label>
        <locationX>710</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Each_Donation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp__Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_DonorRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>FiscalYear</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>configFiscalYear</elementReference>
            </value>
        </filters>
        <filters>
            <field>npsp__Acknowledgment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>To Be Acknowledged</stringValue>
            </value>
        </filters>
        <filters>
            <field>npsp__Acknowledgment_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>Amount</queriedFields>
        <sortField>CloseDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>The Quick action always passes a &amp;recordId parameter. This is mapped to our Variable Resource. We then need to Get the full Contact record from that Id.</description>
        <name>get_DonorRecord</name>
        <label>Get Donor Record</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Settings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Fetches the Content Document Link (required for attachment) of an uploaded Content Document aka a &quot;File&quot;.</description>
        <name>get_PDFAttachment</name>
        <label>Get the Attachment</label>
        <locationX>314</locationX>
        <locationY>2030</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Attachment_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Roll_Back_if_No_Attachment</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Settings.attachmentFileId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContentDocumentId</queriedFields>
        <sortField>SystemModstamp</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Fetched various settings from Custom Metadata</description>
        <name>get_Settings</name>
        <label>Get Settings</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>relevantContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>configMetadataName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>givingStatementSetting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Roll_Back_if_No_Attachment</name>
        <label>Roll Back if No Attachment</label>
        <locationX>842</locationX>
        <locationY>2138</locationY>
        <connector>
            <targetReference>errorBadAttachment</targetReference>
        </connector>
    </recordRollbacks>
    <recordRollbacks>
        <name>Rollback_General_Error</name>
        <label>Rollback General Error</label>
        <locationX>1370</locationX>
        <locationY>2138</locationY>
        <connector>
            <targetReference>General_Error</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <description>Changes Acknowledgement Status and Date</description>
        <name>update_DonationAcknowledgement</name>
        <label>Update Donations</label>
        <locationX>710</locationX>
        <locationY>2570</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback_General_Error</targetReference>
        </faultConnector>
        <inputReference>collectionUpdatedDonations</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the record if changes were made to Preferred Email, any emails, or Mailing Address.</description>
        <name>Update_Donor_Information</name>
        <label>Update Donor Information</label>
        <locationX>710</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>includeAttachment</targetReference>
        </connector>
        <inputReference>get_DonorRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>errorBadAttachment</name>
        <label>Failed to load Attachment</label>
        <locationX>842</locationX>
        <locationY>2246</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorBadAttachmentNote</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Failed to Load a Relevant PDF attachment.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please ensure one is uploaded. Using File Id:  {!get_Settings.attachmentFileId__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorInsufficientDonation</name>
        <label>Irrelevant Contact</label>
        <locationX>886</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorBadContactNote</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;The chosen Contact/Donor does not have any valid Donations for the previous year.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>get_DonorRecord.npo02__OppAmountLastYear__c</leftValueReference>
                    <operator>LessThan</operator>
                    <rightValue>
                        <elementReference>get_Settings.minimumDonationTotal__c</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>errorAlreadySent</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;The chosen Contact/Donor has already been sent a Giving Statement this year on {!get_DonorRecord.lastYearlyGivingStatement__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>help_lastStatementSentThisYear</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>errorConsent</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;The chosen Contact/Donor has not consented to receiving email.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>get_DonorRecord.npsp__Do_Not_Contact__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>errorRecordType</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;The chosen Contact is a Resident. Only non-Residents can receive Giving Statements.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>get_DonorRecord.RecordType.DeveloperName</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>configDonorRecordType</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>General_Error</name>
        <label>General Error</label>
        <locationX>1370</locationX>
        <locationY>2246</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>generalErrorMessage</name>
            <fieldText>&lt;p&gt;An error occured. All records were rolled back. Share this with your Salesforce Admin.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Fault Message: &lt;/strong&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Send Giving Statement:&lt;/strong&gt; {!$Permission.SendGivingStatement}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Flow Start Time:&lt;/strong&gt; {!$Flow.InterviewStartTime}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Allows the User to confirm or update any Donor information before continuing</description>
        <name>screen_donorInformation</name>
        <label>Donor Information</label>
        <locationX>710</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_Donations</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>get_DonorRecord.Name</objectFieldReference>
        </fields>
        <fields>
            <name>donorInformationEmailHelp</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(86, 65, 0);&quot;&gt;An email will be sent to the Donor&apos;s &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(86, 65, 0);&quot;&gt;Preferred&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(86, 65, 0);&quot;&gt; Email. Correct this and the related Email field, if needed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen_donorInformation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_donorInformation_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>get_DonorRecord.npe01__Preferred_Email__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screen_donorInformation_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>get_DonorRecord.npe01__HomeEmail__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>get_DonorRecord.npe01__WorkEmail__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>get_DonorRecord.npe01__AlternateEmail__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>configIncludeAttachement</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Include Attachment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Skip</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>toggleFiscalYear</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Use Current Year</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <elementReference>relevantContact_Yes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Last Year</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>This Year</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>relevantContact_Admin</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Preview Email</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_previewEmail</name>
        <label>Preview Email</label>
        <locationX>710</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assign_lastGivingStatementTime</targetReference>
        </connector>
        <fields>
            <name>screen_previewEmail_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_previewEmail_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>previewEmailFrom</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;From:&lt;/strong&gt; {!tplFromName} &amp;lt;{!$User.Email}&amp;gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screen_previewEmail_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>previewEmailTo</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;To:&lt;/strong&gt; {!help_toEmailAddress}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>previewEmailSubject</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Subject:&lt;/strong&gt; {!tplEmailSubject}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>previewEmailLine1</name>
            <extensionName>c:fsc_drawLine</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>marginTop</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>marginBottom</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thickness</name>
                <value>
                    <stringValue>3px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>screen_previewEmail_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_previewEmail_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screen_previewEmail_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>previewEmailBody</name>
                    <fieldText>&lt;p&gt;{!tplEmailBody}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screen_previewEmail_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>previewEmailLine2</name>
            <extensionName>c:fsc_drawLine</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>marginTop</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>marginBottom</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thickness</name>
                <value>
                    <stringValue>3px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>previewAttachmentNote</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(185, 139, 14); font-size: 16px;&quot;&gt;An attachment will also be included&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>configIncludeAttachement.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Save and Send Email</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1178</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>userPermissions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>tplCmpEmailBody_Greeting</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Donor:&lt;/strong&gt;&lt;/p&gt;
&lt;p style=&quot;margin-left: 40px;&quot;&gt;{!get_DonorRecord.Name}&lt;/p&gt;
&lt;p style=&quot;margin-left: 40px;&quot;&gt;{!help_toEmailAddress}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tplCmpEmailBody_Intro</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Thank you for supporting Collective Chicago as we disrupt homelessness with dignity.&lt;/p&gt;
&lt;p&gt;Your donation went towards our mission of disrupting cycles of poverty with dignified transitional housing that holistically connects young men to opportunities that create and sustain personal, professional, and relational growth.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tplCmpEmailFooterContactInfo</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table style=&quot;color:#555&quot;&gt;
    &lt;tr&gt;&lt;td colspan=&quot;2&quot; style=&quot;padding: .5em 0em&quot;&gt;If you have any questions, please contact us at&lt;/td&gt;&lt;/tr&gt;
    &lt;tr&gt;
        &lt;td style=&quot;padding: 0em 2em&quot;&gt;&lt;a href=&quot;mailto:{!get_Settings.generalEmail__c}&quot;&gt;{!get_Settings.generalEmail__c}&lt;/a&gt;&lt;/td&gt;
        &lt;td style=&quot;padding: 0em 2em&quot;&gt;{!$Organization.Name}&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
        &lt;td style=&quot;padding: 0em 2em&quot;&gt;{!$Organization.Phone}&lt;/td&gt;
        &lt;td style=&quot;padding: 0em 2em&quot;&gt;{!$Organization.Street}&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;&lt;td style=&quot;padding: 0em 2em&quot;&gt;&lt;/td&gt;&lt;td style=&quot;padding: 0em 2em&quot;&gt;{!$Organization.City}, {!$Organization.State} {!$Organization.PostalCode}&lt;/td&gt;
    &lt;tr&gt;
        &lt;td style=&quot;padding: .5em 2em&quot;&gt;EIN: {!get_Settings.employerIdentificationNumber__c}&lt;/td&gt;
        &lt;td style=&quot;padding: .5em 2em&quot;&gt;&lt;a href=&quot;{!get_Settings.generalWebsite__c}&quot;&gt;{!get_Settings.generalWebsite__c}&lt;/a&gt;&lt;/td&gt;
    &lt;/tr&gt;
&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tplCmpEmailFooterDisclaimer</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(85, 85, 85);&quot;&gt;Collective Chicago is a 501(c)(3) organization and gifts are tax-deductible as allowed by law. Our taxpayer identification number is {!get_Settings.employerIdentificationNumber__c}. No goods or services have been exchanged for these donations. Please retain this letter as a record of your contribution for tax purposes.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Thank you note</description>
        <name>tplCmpEmailSignature</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Thank you,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(85, 85, 85);&quot;&gt;The Collective Team&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tplCmpEmbeddedImage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;br&gt;&lt;br&gt;
&lt;div style=&quot;align:center;&quot;&gt;&lt;img src=&quot;{!get_Settings.imageBaseURL__c}{!get_Settings.imageAPIName__c}?oid={!get_Settings.imageOrgId__c}&quot; style=&quot;max-width:600px;max-height:600px;&quot;&gt;&lt;/div&gt;
&lt;div style=&quot;align:center;&quot;&gt;&lt;img src=&quot;{!get_Settings.imageBaseURL__c}{!get_Settings.imageAPIName2__c}?oid={!get_Settings.imageOrgId__c}&quot; style=&quot;max-width:600px;max-height:600px;&quot;&gt;&lt;/div&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tplCmpIntroSalutation</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;{!get_DonorRecord.FirstName},&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Collects all other pieces for final output</description>
        <name>tplEmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Flow.CurrentDate}&lt;/p&gt;
{!tplCmpIntroSalutation}
{!get_Settings.emailIntroText__c}
{!tplCmpEmailBody_Greeting}
{!tplCmpDonationTableHeader}
{!tplEmailBody_DonationRows}
{!tplCmpDonationTableFooter}
{!tplCmpEmailFooterDisclaimer}
{!tplCmpEmbeddedImage}
{!get_Settings.emailBodyText__c}
{!tplCmpEmailSignature}
{!tplCmpEmailFooterContactInfo}</text>
    </textTemplates>
    <textTemplates>
        <name>tplEmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!get_Settings.emailSubject__c}</text>
    </textTemplates>
    <textTemplates>
        <description>Emails will appear to come form this Name: &quot;Jane Doe&quot; &lt;jdoe@deer.com&gt;</description>
        <name>tplFromName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$User.FirstName} at {!$Organization.Name}</text>
    </textTemplates>
    <variables>
        <description>Used to update Opportunities with Acknowledgement Status and Date</description>
        <name>collectionUpdatedDonations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Allows us to add as many Opportunity Rows as needed.</description>
        <name>tplEmailBody_DonationRows</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tplEmailBody_TotalAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
