force-app/main/default/flows/Coaching_Meeting_Invoked_Search_Graduate_s_Coaching_Meetings.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <description>Sets the Graduate&apos;s final Credit Score before Graduation to their most recent Credit Score from a Coaching Meeting</description>
        <name>Set_Credit_Score</name>
        <label>Set Credit Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Credit_Score</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Most_Recent_Coaching_Meeting_before_Graduation.Credit_Score__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Error_No_Coaching_Meetings</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Did the Query find only one Coaching Meeting? It should have a Credit Score. If not, either the Graduate has no Coaching Meetings or none with a Credit Score.</description>
        <name>Found_only_one_Coaching_Meeting</name>
        <label>Found only one Coaching Meeting</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Found_only_one_Coaching_Meeting_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Most_Recent_Coaching_Meeting_before_Graduation.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Credit_Score</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Was the value provided for Graduate a Contact? Was a Graduate Date provided?</description>
        <name>Was_Input_Provided</name>
        <label>Was Input Provided?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Was_Input_Provided_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Graduation_Date</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Graduate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Graduate</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Most_Recent_Coaching_Meeting_before_Graduation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Searches a Graduate&apos;s Coaching Meetings (usually upon Graduation) to determine their most recent Credit Score prior to Graduation.</description>
    <environments>Default</environments>
    <interviewLabel>Coaching Meeting - Invoked - Search Graduate&apos;s Coaching Meetings {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Coaching Meeting - Invoked - Search Graduate&apos;s Coaching Meetings</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the most recent Coaching Meeting before the Graduation date which also has a Credit score</description>
        <name>Get_Most_Recent_Coaching_Meeting_before_Graduation</name>
        <label>Get Most Recent Coaching Meeting before Graduation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_only_one_Coaching_Meeting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Credit_Score__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>checkUpDate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Graduation_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>resident__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Graduate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Check_Up__c</object>
        <sortField>checkUpDate__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Was_Input_Provided</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Credit_Score</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>True if no Coaching Meetings were found. All Graduates should have at least one Coaching Meeting. If none are found, a larger issue is likely. And, a Credit Score cannot be determined.</description>
        <name>Error_No_Coaching_Meetings</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>The id of the Graduate (also known as a Resident)</description>
        <name>Graduate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Graduation Date of the Resident/Graduate</description>
        <name>Graduation_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
