force-app/main/default/flows/Create_Relationship.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>This isn&apos;t perfect, since if no ContactId is provided it will error out.</description>
        <name>Notify_on_Error</name>
        <label>Notify on Error</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Unable to create/update Relationship from Work Experience</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Change_Status_and_Description</name>
        <label>Change Status and Description</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Look_for_Existing_Relationship.npe4__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Look_for_Existing_Relationship.npe4__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Relationship</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Inputs</name>
        <label>Check Inputs</label>
        <locationX>512</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Notify_on_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>relatedToContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>status</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Look_for_Existing_Relationship</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Relationship</name>
        <label>Existing Relationship?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Create_Relationship</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_for_Existing_Relationship.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Status_and_Description</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Creates an NPSP Relationship if one doesn&apos;t exist. If one exists for both Contacts and the Type, it updates the Status and Description)</description>
    <environments>Default</environments>
    <interviewLabel>Create Relationship {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create or Update Relationship</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Relationship</name>
        <label>Create Relationship</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <faultConnector>
            <targetReference>Notify_on_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>npe4__Contact__c</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe4__Description__c</field>
            <value>
                <elementReference>description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe4__RelatedContact__c</field>
            <value>
                <elementReference>relatedToContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe4__Status__c</field>
            <value>
                <elementReference>status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe4__Type__c</field>
            <value>
                <elementReference>type</elementReference>
            </value>
        </inputAssignments>
        <object>npe4__Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Look_for_Existing_Relationship</name>
        <label>Look for Existing Relationship</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Relationship</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe4__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe4__RelatedContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>relatedToContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe4__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>type</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npe4__Relationship__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Relationship</name>
        <label>Update Relationship</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <inputReference>Look_for_Existing_Relationship</inputReference>
    </recordUpdates>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Inputs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The target or origin of the Relatitonship</description>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The &quot;recipient&quot; of the Relationship.</description>
        <name>relatedToContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Current or Former</description>
        <name>status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>current</stringValue>
        </value>
    </variables>
    <variables>
        <description>See Relationship.npe4__Type__c</description>
        <name>type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
