force-app/main/default/flows/Opportunity_Attribute_Campaign_on_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Set_Values_from_CampaignByCode</name>
        <label>Set Values from CampaignByCode</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>campaignExcludeAcknowledgement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_by_Code.excludeFromAcknowledgement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_by_Code.Campaign_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_by_Code.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_as_System</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Values_from_CampaignById</name>
        <label>Set Values from CampaignById</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>campaignExcludeAcknowledgement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_by_Id.excludeFromAcknowledgement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_by_Id.Campaign_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_by_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_as_System</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Update_Error</name>
        <label>Update Error</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <customErrorMessages>
            <errorMessage>Issue updating Opportunity Campaign Information. The Campaign may not have a valid Campaign Code</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <description>Fills one if the other is changed. Or clears both is one is removed.</description>
        <name>Action</name>
        <label>Action</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Code_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.campaignCode__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_by_Code</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Code Changed</label>
        </rules>
        <rules>
            <name>Campaign_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CampaignId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_by_Id</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Campaign Changed</label>
        </rules>
        <rules>
            <name>Campaign_or_Code_Cleared</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CampaignId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.campaignCode__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Both</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Campaign or Code Cleared</label>
        </rules>
    </decisions>
    <decisions>
        <name>Error_Updating_Opportunity</name>
        <label>Error Updating Opportunity</label>
        <locationX>446</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Update_Opportunity_as_System.error</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Error</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Populates either [Primary Campaign] or [Campaign Code] depending on what changed. Sets &quot;Do Not Acknowledge&quot; if determined by the Campaign.</description>
    <environments>Default</environments>
    <formulas>
        <description>Determines based on Campaign&apos;s [Exclude from Acknowledgement] field. Retains a value unless the Campaign is set to not acknowledge.</description>
        <name>acknowledgementStatus</name>
        <dataType>String</dataType>
        <expression>IF( {!campaignExcludeAcknowledgement}, &quot;Do Not Acknowledge&quot;
,TEXT({!$Record.npsp__Acknowledgment_Status__c})
)</expression>
    </formulas>
    <interviewLabel>Opportunity - Attribute Campaign on Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Attribute Campaign on Change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets the attributed Campaign based on Campaign Code (provided by Zapier, mostly)</description>
        <name>Get_Campaign_by_Code</name>
        <label>Get Campaign by Code</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Values_from_CampaignByCode</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campaign_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.campaignCode__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Campaign_Code__c</queriedFields>
        <queriedFields>excludeFromAcknowledgement__c</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the attributed Campaign based on Id. Most likely when a user modifies the Campaign manually.</description>
        <name>Get_Campaign_by_Id</name>
        <label>Get Campaign by Id</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Values_from_CampaignById</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CampaignId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Campaign_Code__c</queriedFields>
        <queriedFields>excludeFromAcknowledgement__c</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Clear_Both</name>
        <label>Clear Both</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>campaignCode__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Action</targetReference>
        </connector>
        <filterLogic>1 OR 2 OR (3 OR 4)</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>campaignCode__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>campaignCode__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Update_Opportunity_as_System</name>
        <label>Update Opportunity as System</label>
        <locationX>446</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Error_Updating_Opportunity</targetReference>
        </connector>
        <flowName>Opportunity_Invoked_Update_Campaign_Info</flowName>
        <inputAssignments>
            <name>acknowledgeStatus</name>
            <value>
                <elementReference>acknowledgementStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>campaignCode</name>
            <value>
                <elementReference>campaignCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>campaignId</name>
            <value>
                <elementReference>campaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>opportunityId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>campaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>campaignExcludeAcknowledgement</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>campaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
