force-app/main/default/flows/Resident_Update_Graduation_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>clearGraduationDate</name>
        <label>Clear Graduate Date</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.residentGraduationDate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>setGraduationDate</name>
        <label>Set Graduate Date</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.residentGraduationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Different outcomes based on whether Status was changed to or from &quot;Graduate&quot;</description>
        <name>graduateStatus</name>
        <label>Graduate Status</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>graduate_of_graduateStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stakeholder_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Graduated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setGraduationDate</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Graduate</label>
        </rules>
        <rules>
            <name>noGraduate_of_graduateStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Stakeholder_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Graduated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.residentGraduationDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>clearGraduationDate</targetReference>
            </connector>
            <label>Prev Graduate</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Resident - Update Graduation Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resident - Update Graduation Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>graduateStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stakeholder_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
