force-app/main/default/flows/Resident_After_Update_Graduate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <customErrors>
        <name>errorUpdateContact</name>
        <label>Error: Updating Contact</label>
        <locationX>143</locationX>
        <locationY>863</locationY>
        <customErrorMessages>
            <errorMessage>Unable to Update Resident. Check all Required fields are populated.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>errorWorkExperience</name>
        <label>Error: Work Experience</label>
        <locationX>275</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>checkErrorUpdateContact</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>No Work Experiences were found. Please create at least one to enable SROI calculation.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Bypass_Flows</name>
        <label>Bypass Flows</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Scan_Work_Experiences_and_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standard</defaultConnectorLabel>
        <rules>
            <name>BypassFlows</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.BypassFlows</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Bypass</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkErrorUpdateContact</name>
        <label>Error: Updating Contact</label>
        <locationX>275</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Okay</defaultConnectorLabel>
        <rules>
            <name>errorUpdateContact_error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Scan_Work_Experiences_and_Update.errorUpdatingContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>errorNoWorkExperiences_true</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>errorUpdateContact</targetReference>
            </connector>
            <label>Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>errorNoWorkExperiences</name>
        <label>Error: No Work Experiences?</label>
        <locationX>473</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Okay</defaultConnectorLabel>
        <rules>
            <name>errorNoWorkExperiences_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Scan_Work_Experiences_and_Update.errorNoWorkExperiences</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>errorWorkExperience</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>Controls: Resident is changed to Graduated. Allows for non-Contact actions. Pulls Health Benefits from Work Experiences</description>
    <environments>Default</environments>
    <interviewLabel>Resident - After Update - Graduate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resident - After Update - Graduate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bypass_Flows</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR (3 AND 4))</filterLogic>
        <filters>
            <field>Stakeholder_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Graduated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stakeholder_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>residentGraduationDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>residentGraduationDate__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Scan_Work_Experiences_and_Update</name>
        <label>Scan Work Experiences and Update</label>
        <locationX>473</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>errorNoWorkExperiences</targetReference>
        </connector>
        <flowName>Work_Experience_Invoked_Update_Graduate_s_Health_Benefits</flowName>
        <inputAssignments>
            <name>inputResidentRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
