force-app/main/default/flows/Resident_After_Update_Graduate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <customErrors>
        <name>Error_No_Credit_Score</name>
        <label>Error: No Credit Score</label>
        <locationX>473</locationX>
        <locationY>863</locationY>
        <customErrorMessages>
            <errorMessage>No Coaching Meetings were available with a Credit Score</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>errorUpdateContact</name>
        <label>Error: Updating Contact</label>
        <locationX>1001</locationX>
        <locationY>971</locationY>
        <customErrorMessages>
            <errorMessage>Unable to Update Resident. Check all Required fields are populated.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <description>All graduates should have a work experience</description>
        <name>errorWorkExperience</name>
        <label>Error: Work Experience</label>
        <locationX>209</locationX>
        <locationY>647</locationY>
        <customErrorMessages>
            <errorMessage>No Work Experiences were found. Please create at least one to enable SROI calculation.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Bypass_Flows</name>
        <label>Bypass Flows</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Scan_Work_Experience_for_Health_Benefits</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standard</defaultConnectorLabel>
        <rules>
            <name>BypassFlows</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.BypassFlows</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Bypass</label>
        </rules>
    </decisions>
    <decisions>
        <description>All Graduates should have at least one Coaching Meeting</description>
        <name>Error_No_Coaching_Meetings</name>
        <label>Error: No Coaching Meetings?</label>
        <locationX>605</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Update_Resident</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Okay</defaultConnectorLabel>
        <rules>
            <name>Error_No_Coaching_Meetings_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_most_Recent_Credit_Score.Error_No_Coaching_Meetings</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_No_Credit_Score</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>errorNoWorkExperiences</name>
        <label>Error: No Work Experiences?</label>
        <locationX>407</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Get_most_Recent_Credit_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Okay</defaultConnectorLabel>
        <rules>
            <name>errorNoWorkExperiences_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Scan_Work_Experience_for_Health_Benefits.errorNoWorkExperiences</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>errorWorkExperience</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>Controls: Resident is changed to Graduated. Pulls Health Benefits from Work Experiences</description>
    <environments>Default</environments>
    <interviewLabel>Resident - After Update - Graduate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resident - After Update - Graduate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Updating only if Health Benefits or Credit Score do not match</description>
        <name>Update_Resident</name>
        <label>Update Resident</label>
        <locationX>737</locationX>
        <locationY>863</locationY>
        <faultConnector>
            <targetReference>errorUpdateContact</targetReference>
        </faultConnector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Stakeholder_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Graduated</stringValue>
            </value>
        </filters>
        <filters>
            <field>graduateHealthBenefits__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Scan_Work_Experience_for_Health_Benefits.hasHealthBenefits</elementReference>
            </value>
        </filters>
        <filters>
            <field>graduateCreditScore__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_most_Recent_Credit_Score.Credit_Score</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>graduateCreditScore__c</field>
            <value>
                <elementReference>Get_most_Recent_Credit_Score.Credit_Score</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>graduateHealthBenefits__c</field>
            <value>
                <elementReference>Scan_Work_Experience_for_Health_Benefits.hasHealthBenefits</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bypass_Flows</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR (3 AND 4))</filterLogic>
        <filters>
            <field>Stakeholder_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Graduated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stakeholder_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>residentGraduationDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>residentGraduationDate__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Fetches the most recent Credit Score from Coaching Meetings</description>
        <name>Get_most_Recent_Credit_Score</name>
        <label>Get most Recent Credit Score</label>
        <locationX>605</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Error_No_Coaching_Meetings</targetReference>
        </connector>
        <flowName>Coaching_Meeting_Invoked_Search_Graduate_s_Coaching_Meetings</flowName>
        <inputAssignments>
            <name>Graduate</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Graduation_Date</name>
            <value>
                <elementReference>$Record.residentGraduationDate__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Scan_Work_Experience_for_Health_Benefits</name>
        <label>Scan Work Experience for Health Benefits</label>
        <locationX>407</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>errorNoWorkExperiences</targetReference>
        </connector>
        <flowName>Work_Experience_Invoked_Update_Graduate_s_Health_Benefits</flowName>
        <inputAssignments>
            <name>inputGraduationDate</name>
            <value>
                <elementReference>$Record.residentGraduationDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputResidentId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
