force-app/main/default/flows/SROI_After_Create_Update_Calculate_SROI_Metrics.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>setRecidivism_1</name>
        <label>Recidivism 1 yr Rate</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>helpRecidivismRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getSROISettings.recidivismRateYr1__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>calculateFederalTax_baseline</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setRecidivism_2</name>
        <label>Recidivism 2 yr Rate</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>helpRecidivismRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getSROISettings.recidivismRateYr2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>calculateFederalTax_baseline</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setRecidivism_3</name>
        <label>Recidivism 3 yr Rate</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>helpRecidivismRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getSROISettings.recidivismRateYr3__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>calculateFederalTax_baseline</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setRecidivism_4</name>
        <label>Recidivism 4 yr Rate</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>helpRecidivismRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getSROISettings.recidivismRateYr4__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>calculateFederalTax_baseline</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setRecidivism_5</name>
        <label>Recidivism 5 yr Rate</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>helpRecidivismRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getSROISettings.recidivismRateYr5__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>calculateFederalTax_baseline</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>errorNoSettings</name>
        <label>Error: No Settings</label>
        <locationX>1546</locationX>
        <locationY>539</locationY>
        <customErrorMessages>
            <errorMessage>No recent SROI Settings were found. Settings must be 30 days old or newer.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <description>Calculates Recidivism</description>
        <name>decisionRecidivism</name>
        <label>Years between Rearrest</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>calculateFederalTax_baseline</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>decisionRecidivism_fivePlus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>helpYearsBetweenRearrest</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setRecidivism_5</targetReference>
            </connector>
            <label>Five or More</label>
        </rules>
        <rules>
            <name>decisionRecidivism_four</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>helpYearsBetweenRearrest</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setRecidivism_4</targetReference>
            </connector>
            <label>Four to Five</label>
        </rules>
        <rules>
            <name>decisionRecidivism_three</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>helpYearsBetweenRearrest</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setRecidivism_3</targetReference>
            </connector>
            <label>Three to Four</label>
        </rules>
        <rules>
            <name>decisionRecidivism_two</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>helpYearsBetweenRearrest</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setRecidivism_2</targetReference>
            </connector>
            <label>Two to Three</label>
        </rules>
        <rules>
            <name>decisionRecidivism_one</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>helpYearsBetweenRearrest</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setRecidivism_1</targetReference>
            </connector>
            <label>One to Two</label>
        </rules>
    </decisions>
    <decisions>
        <name>Settings_Found</name>
        <label>Settings Found?</label>
        <locationX>1128</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>errorNoSettings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getSROISettings.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decisionRecidivism</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Once an SROI Calculation record is created (with baseline metrics), this Flow grabs the latest Settings to perform the actual calculations.</description>
    <environments>Default</environments>
    <formulas>
        <description>If the Graduate had Drug/Alcohol abuse during intake/application, then calculate the average cost of treatment modified by the difference in national vs Collective Relapse Rates.</description>
        <name>calcAbuseTreatment</name>
        <dataType>Currency</dataType>
        <expression>( {!getSROISettings.substanceTreatmentRelapseRate__c} - {!getSROISettings.collectiveRelapseRate__c} )  / 100
* {!getSROISettings.substanceTreatmentCost__c}
* IF({!$Record.intakeDrugAlcoholAbuse__c},1,0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>The difference in Federal Taxes between Intake and Graduation. Both values are calculated using the current Tax configuration, regardless of earning year. The Invoked Flow assumes an Annual, After-Tax amount and uses the Tax configuration to reverse-engineer the estimated Taxes paid.</description>
        <name>calcFederalIncomeTax</name>
        <dataType>Currency</dataType>
        <expression>{!calculateGraduateFederalTax.totalTax} - {!calculateFederalTax_baseline.totalTax}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Changes based on whether Employer provides Health Benefits</description>
        <name>calcMedicaid</name>
        <dataType>Currency</dataType>
        <expression>IF({!$Record.healthBenefits__c}, {!getSROISettings.medicaidEmployerSponsored__c}, {!getSROISettings.medicaidNotSponsored__c}) * 12</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>calcRecidivism</name>
        <dataType>Currency</dataType>
        <expression>({!helpRecidivismRate}/100) * {!getSROISettings.recidivismCost__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>calcSnapLink</name>
        <dataType>Currency</dataType>
        <expression>IF(BLANKVALUE({!$Record.budgetSnapLinkAmount__c},0) &gt;0,{!$Record.budgetSnapLinkAmount__c},0) * 12</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>calcSocialSecurity</name>
        <dataType>Currency</dataType>
        <expression>{!getSROISettings.socialSecurityPercent__c}/100 * 12 * ( {!$Record.graduatePostTaxIncome__c} - {!$Record.intakePostTaxIncome__c} )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>calcSROITotal</name>
        <dataType>Currency</dataType>
        <expression>{!calcMedicaid}
+ {!calcSnapLink}
+ {!calcSocialSecurity}
+ {!calcStateIncomeTax}
+ {!calcStateSalesTax}
+ {!calcFederalIncomeTax}
+ {!calcUnemployment}
+ {!calcRecidivism}
+ {!calcAbuseTreatment}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>calcStateIncomeTax</name>
        <dataType>Currency</dataType>
        <expression>{!getSROISettings.illinoisStateIncomeTaxPercent__c}/100 * 12 * ( {!$Record.graduatePostTaxIncome__c} - {!$Record.intakePostTaxIncome__c} )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>The estimated Sales Tax contributed by assuming an average percentage of income spent on Consumption (as opposed to Savings, Rent)</description>
        <name>calcStateSalesTax</name>
        <dataType>Currency</dataType>
        <expression>({!getSROISettings.consumptionPercentOfTotalIncome__c}/100) * ({!getSROISettings.salesTaxPercent__c}/100) * 12 * ( {!$Record.graduatePostTaxIncome__c} - {!$Record.intakePostTaxIncome__c} )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Unemployment is only issued for six months, not twelve.</description>
        <name>calcUnemployment</name>
        <dataType>Currency</dataType>
        <expression>IF(BLANKVALUE({!$Record.budgetUnemploymentAmount__c}, 0)&gt;0,{!$Record.budgetUnemploymentAmount__c},0) * 6</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>helpPostTaxIncomeYearly_graduate</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.graduatePostTaxIncome__c} * 12</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>helpPostTaxIncomeYearly_intake</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.intakePostTaxIncome__c} * 12</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>helpRecentSettings</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 30</expression>
    </formulas>
    <formulas>
        <description>Duplicates calcYearsBetweenRearrest__c because we can&apos;t access formulas in Fast Field Update Flows... it&apos;s worth redundancy for overall performance. If the Graduate has not been rearrested, it counts from Today.</description>
        <name>helpYearsBetweenRearrest</name>
        <dataType>Number</dataType>
        <expression>(
IF(
ISBLANK( {!$Record.graduateFirstRearrestDate__c} )
, TODAY()
, {!$Record.graduateFirstRearrestDate__c}
) - {!$Record.residentGraduationDate__c}
)/365</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>SROI - After Create/Update - Calculate SROI Metrics {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SROI - After Create/Update - Calculate SROI Metrics</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getSROISettings</name>
        <label>Get SROI Settings</label>
        <locationX>1128</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Settings_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SystemModstamp</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>helpRecentSettings</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sroiSettings__mdt</object>
        <sortField>SystemModstamp</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SROI_Calculation</name>
        <label>Update SROI Calculation</label>
        <locationX>710</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>settingsDate__c</field>
            <value>
                <elementReference>getSROISettings.SystemModstamp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>settingsId__c</field>
            <value>
                <elementReference>getSROISettings.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sroiFederalIncomeTax__c</field>
            <value>
                <elementReference>calcFederalIncomeTax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sroiMedicaid__c</field>
            <value>
                <elementReference>calcMedicaid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sroiRecidivism__c</field>
            <value>
                <elementReference>calcRecidivism</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sroiSnapLink__c</field>
            <value>
                <elementReference>calcSnapLink</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sroiSocialSecurity__c</field>
            <value>
                <elementReference>calcSocialSecurity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sroiStateIncomeTax__c</field>
            <value>
                <elementReference>calcStateIncomeTax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sroiStateSalesTax__c</field>
            <value>
                <elementReference>calcStateSalesTax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sroiSubstanceAbuse__c</field>
            <value>
                <elementReference>calcAbuseTreatment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sroiTotal__c</field>
            <value>
                <elementReference>calcSROITotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sroiUnemployment__c</field>
            <value>
                <elementReference>calcUnemployment</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1002</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getSROISettings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sroiTotal__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SROI_Calculation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>calculateFederalTax_baseline</name>
        <label>Calculate Baseline Federal Tax</label>
        <locationX>710</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>calculateGraduateFederalTax</targetReference>
        </connector>
        <flowName>SROI_Invoked_Calculate_Federal_Tax</flowName>
        <inputAssignments>
            <name>inputBracket_1_amount</name>
            <value>
                <elementReference>getSROISettings.fedTaxBracket_1_amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputBracket_1_percent</name>
            <value>
                <elementReference>getSROISettings.fedTaxBracket_1_percent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputBracket_2_amount</name>
            <value>
                <elementReference>getSROISettings.fedTaxBracket_2_amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputBracket_2_percent</name>
            <value>
                <elementReference>getSROISettings.fedTaxBracket_2_percent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputBracket_3_amount</name>
            <value>
                <elementReference>getSROISettings.fedTaxBracket_3_amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputBracket_3_percent</name>
            <value>
                <elementReference>getSROISettings.fedTaxBracket_3_percent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputBracket_4_amount</name>
            <value>
                <elementReference>getSROISettings.fedTaxBracket_4_amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputBracket_4_percent</name>
            <value>
                <elementReference>getSROISettings.fedTaxBracket_4_percent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputBracket_5_amount</name>
            <value>
                <elementReference>getSROISettings.fedTaxBracket_5_amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputBracket_5_percent</name>
            <value>
                <elementReference>getSROISettings.fedTaxBracket_5_percent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputPostTaxIncome</name>
            <value>
                <elementReference>helpPostTaxIncomeYearly_intake</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>calculateGraduateFederalTax</name>
        <label>Calculate Graduate Federal Tax</label>
        <locationX>710</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Update_SROI_Calculation</targetReference>
        </connector>
        <flowName>SROI_Invoked_Calculate_Federal_Tax</flowName>
        <inputAssignments>
            <name>inputBracket_1_amount</name>
            <value>
                <elementReference>getSROISettings.fedTaxBracket_1_amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputBracket_1_percent</name>
            <value>
                <elementReference>getSROISettings.fedTaxBracket_1_percent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputBracket_2_amount</name>
            <value>
                <elementReference>getSROISettings.fedTaxBracket_2_amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputBracket_2_percent</name>
            <value>
                <elementReference>getSROISettings.fedTaxBracket_2_percent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputBracket_3_amount</name>
            <value>
                <elementReference>getSROISettings.fedTaxBracket_3_amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputBracket_3_percent</name>
            <value>
                <elementReference>getSROISettings.fedTaxBracket_3_percent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputBracket_4_amount</name>
            <value>
                <elementReference>getSROISettings.fedTaxBracket_4_amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputBracket_4_percent</name>
            <value>
                <elementReference>getSROISettings.fedTaxBracket_4_percent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputBracket_5_amount</name>
            <value>
                <elementReference>getSROISettings.fedTaxBracket_5_amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputBracket_5_percent</name>
            <value>
                <elementReference>getSROISettings.fedTaxBracket_5_percent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputPostTaxIncome</name>
            <value>
                <elementReference>helpPostTaxIncomeYearly_graduate</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>helpRecidivismRate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
