force-app/main/default/flows/SROI_Invoked_Calculate_Federal_Tax.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>When the PostTax Income does NOT exceed the Bracket&apos;s Expected PostTax Income, peform a partial calculation.</description>
        <name>addPartialTax</name>
        <label>Add Partial Tax</label>
        <locationX>844</locationX>
        <locationY>2282</locationY>
        <assignmentItems>
            <assignToReference>totalTax</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>helpPartialCalc</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Covers ~$231,250</description>
        <name>addTax5</name>
        <label>Add Tax 5</label>
        <locationX>50</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>totalTax</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>helpBracketTaxAmount</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>addTax_1</name>
        <label>Add Tax 1</label>
        <locationX>671</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>totalTax</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>helpBracketTaxAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>secondBracket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addTax_2</name>
        <label>Add Tax 2</label>
        <locationX>501</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>totalTax</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>helpBracketTaxAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>thirdBracket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addTax_3</name>
        <label>Add Tax 3</label>
        <locationX>336</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>totalTax</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>helpBracketTaxAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>fourthBracket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addTax_4</name>
        <label>Add Tax 4</label>
        <locationX>182</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>totalTax</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>helpBracketTaxAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>fifthBracket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>fifthBracket</name>
        <label>Fifth Bracket</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>tempBracketPreviousAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputBracket_4_amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempBracketPercent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputBracket_5_percent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempBracketAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputBracket_5_amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>aggregateExpectedTakehome</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>helpBracketPostAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkBracket_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>firstBracket</name>
        <label>First Bracket</label>
        <locationX>844</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>tempBracketPreviousAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempBracketPercent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputBracket_1_percent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempBracketAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputBracket_1_amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>aggregateExpectedTakehome</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>helpBracketPostAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkBracket_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>fourthBracket</name>
        <label>Fourth Bracket</label>
        <locationX>336</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>tempBracketPreviousAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputBracket_3_amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempBracketPercent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputBracket_4_percent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempBracketAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputBracket_4_amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>aggregateExpectedTakehome</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>helpBracketPostAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkBracket_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>secondBracket</name>
        <label>Second Bracket</label>
        <locationX>671</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>tempBracketPreviousAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputBracket_1_amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempBracketPercent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputBracket_2_percent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempBracketAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputBracket_2_amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>aggregateExpectedTakehome</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>helpBracketPostAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkBracket_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>thirdBracket</name>
        <label>Third Bracket</label>
        <locationX>501</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>tempBracketPreviousAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputBracket_2_amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempBracketPercent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputBracket_3_percent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempBracketAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputBracket_3_amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>aggregateExpectedTakehome</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>helpBracketPostAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkBracket_3</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkBracket_1</name>
        <label>First Bracket</label>
        <locationX>844</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>addPartialTax</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Less</defaultConnectorLabel>
        <rules>
            <name>checkBracket_1_more</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputPostTaxIncome</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>aggregateExpectedTakehome</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addTax_1</targetReference>
            </connector>
            <label>More</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkBracket_2</name>
        <label>Second Bracket</label>
        <locationX>671</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>addPartialTax</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Less</defaultConnectorLabel>
        <rules>
            <name>checkBracket_2_more</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputPostTaxIncome</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>aggregateExpectedTakehome</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addTax_2</targetReference>
            </connector>
            <label>More</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkBracket_3</name>
        <label>Third Bracket</label>
        <locationX>501</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>addPartialTax</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Less</defaultConnectorLabel>
        <rules>
            <name>checkBracket_3_More</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputPostTaxIncome</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>aggregateExpectedTakehome</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addTax_3</targetReference>
            </connector>
            <label>More</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkBracket_4</name>
        <label>Fourth Bracket</label>
        <locationX>336</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>addPartialTax</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Less</defaultConnectorLabel>
        <rules>
            <name>checkBracket_4_more</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputPostTaxIncome</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>aggregateExpectedTakehome</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addTax_4</targetReference>
            </connector>
            <label>More</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkBracket_5</name>
        <label>Fifth Bracket</label>
        <locationX>182</locationX>
        <locationY>1538</locationY>
        <defaultConnector>
            <targetReference>addPartialTax</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Less</defaultConnectorLabel>
        <rules>
            <name>checkBracket_5_more</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputPostTaxIncome</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>aggregateExpectedTakehome</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addTax5</targetReference>
            </connector>
            <label>More</label>
        </rules>
    </decisions>
    <description>Accepts AfterTax Annual Income and Tax Bracket configuration (via Custom Metadata) parameters to reverse-engineer the US Federal Gov&apos;t&apos;s progressive tax. Assumes: Single Filing, no after-tax deductions or contributions.
The provided Annual Income plus resulting totalTax would provide the &quot;Taxable Income&quot;. Adding deductions to this would provide the AGI.</description>
    <environments>Default</environments>
    <formulas>
        <name>helpBracketPostAmount</name>
        <dataType>Currency</dataType>
        <expression>{!tempBracketAmount} - {!tempBracketPreviousAmount} - {!helpBracketTaxAmount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>helpBracketTaxAmount</name>
        <dataType>Currency</dataType>
        <expression>( {!tempBracketAmount} - {!tempBracketPreviousAmount} ) * {!tempBracketPercent} /100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>helpPartialCalc</name>
        <dataType>Currency</dataType>
        <expression>(
    ({!inputPostTaxIncome} - {!helpPreviousAggregateExpectedTakehome})
    / (
        ({!tempBracketAmount} - {!tempBracketPreviousAmount} - {!helpBracketTaxAmount})
    )
) * {!helpBracketTaxAmount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>helpPreviousAggregateExpectedTakehome</name>
        <dataType>Currency</dataType>
        <expression>{!aggregateExpectedTakehome} - {!helpBracketPostAmount}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>SROI - Invoked - Calculate Federal Tax {!$Flow.CurrentDateTime} by {!$User.Username}</interviewLabel>
    <label>SROI - Invoked - Calculate Federal Tax</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>718</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>firstBracket</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>aggregateExpectedTakehome</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>bracketAmountArray</name>
        <dataType>Currency</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>bracketPercentageArray</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>The maximum amount of the first bracket (aka 0-x)</description>
        <name>inputBracket_1_amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>11000.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>The percent applied to the first bracket</description>
        <name>inputBracket_1_percent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>The maximum amount of the second bracket</description>
        <name>inputBracket_2_amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>44725.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>inputBracket_2_percent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>12.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>The maximum amount of the third bracket</description>
        <name>inputBracket_3_amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>95375.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>inputBracket_3_percent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>22.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>The maximum amount of the fourth bracket</description>
        <name>inputBracket_4_amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>182100.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>inputBracket_4_percent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>24.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>The maximum amount of the fifth bracket</description>
        <name>inputBracket_5_amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>231250.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>inputBracket_5_percent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>32.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Annual Post-Tax Income</description>
        <name>inputPostTaxIncome</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>40884.5</numberValue>
        </value>
    </variables>
    <variables>
        <name>tempBracketAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>tempBracketPercent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>tempBracketPreviousAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>totalTax</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
