force-app/main/default/flows/SROI_Create_Baseline_SROI_Metrics.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>addPreparedSROI</name>
        <label>Add Prepared SROI</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>outputSROICalculations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>prepareSROICalculation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopGraduates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setErrorNoPermission</name>
        <label>Error: No Permission</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>errorNoPermission</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>checkPermissions</name>
        <label>SROI Permissions</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>setErrorNoPermission</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Access</defaultConnectorLabel>
        <rules>
            <name>checkPermissions_access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.GenerateSROI</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getGraduates</targetReference>
            </connector>
            <label>Access</label>
        </rules>
    </decisions>
    <description>Invoked by action or screen flow to create the baseline metrics for all available Graduates.</description>
    <environments>Default</environments>
    <interviewLabel>SROI - Create Baseline SROI Metrics {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SROI - Create Baseline SROI Metrics</label>
    <loops>
        <name>loopGraduates</name>
        <label>Each Graduate</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <collectionReference>getGraduates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>prepareSROICalculation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createSROICalculations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createSROICalculations</name>
        <label>Create SROI Calculations</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>setErrorNoPermission</targetReference>
        </faultConnector>
        <inputReference>outputSROICalculations</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Gets all the Resident (Contact) records which are Graduates. Does not enforce a Date, since we&apos;ll also count people who may be graduating soon as well as everyone in the past.</description>
        <name>getGraduates</name>
        <label>Get Graduates</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopGraduates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stakeholder_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Graduated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>applicationCriminalRecord__c</queriedFields>
        <queriedFields>intakeDrugAlcoholAbuse__c</queriedFields>
        <queriedFields>graduateFirstRearrestDate__c</queriedFields>
        <queriedFields>residentGraduationDate__c</queriedFields>
        <queriedFields>intakePostTaxIncome__c</queriedFields>
        <queriedFields>graduatePostTaxIncome__c</queriedFields>
        <queriedFields>budgetSnapLinkAmount__c</queriedFields>
        <queriedFields>budgetUnemploymentAmount__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>graduateHealthBenefits__c</queriedFields>
        <sortField>residentGraduationDate__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkPermissions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>prepareSROICalculation</name>
        <label>Prepare SROI Calculation</label>
        <locationX>138</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>addPreparedSROI</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>SROI_Calculation__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>applicationCriminalRecord__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>loopGraduates.applicationCriminalRecord__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>budgetSnapLinkAmount__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>Number</formulaDataType>
                    <formulaExpression>BLANKVALUE({!loopGraduates.budgetSnapLinkAmount__c},0)</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>budgetUnemploymentAmount__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>Number</formulaDataType>
                    <formulaExpression>BLANKVALUE({!loopGraduates.budgetUnemploymentAmount__c},0)</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>graduate__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>loopGraduates.Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>graduateFirstRearrestDate__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>loopGraduates.graduateFirstRearrestDate__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>graduatePostTaxIncome__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>Number</formulaDataType>
                    <formulaExpression>BLANKVALUE({!loopGraduates.graduatePostTaxIncome__c},0)</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>healthBenefits__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>loopGraduates.graduateHealthBenefits__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>intakeDrugAlcoholAbuse__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>loopGraduates.intakeDrugAlcoholAbuse__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>intakePostTaxIncome__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>Number</formulaDataType>
                    <formulaExpression>BLANKVALUE({!loopGraduates.intakePostTaxIncome__c},0)</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>residentGraduationDate__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>loopGraduates.residentGraduationDate__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>errorNoPermission</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>outputSROICalculations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>SROI_Calculation__c</objectType>
    </variables>
</Flow>
