force-app/main/default/flows/SROI_Screen_Initiate_SROI_Calc.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>checkConfirmation</name>
        <label>User Confirmed Settings</label>
        <locationX>380</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>screenNoSettings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inaccurate</defaultConnectorLabel>
        <rules>
            <name>checkConfirmation_accurate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>screenPreview_confirm.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Baseline_SROI_Metrics</targetReference>
            </connector>
            <label>Accurate</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkErrors</name>
        <label>Error Handler</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>getSROICalculations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Okay</defaultConnectorLabel>
        <rules>
            <name>checkErrors_permission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Baseline_SROI_Metrics.errorNoPermission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>rollbackSROI</targetReference>
            </connector>
            <label>No Permission</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkPermissions</name>
        <label>SROI Permissions</label>
        <locationX>957</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>screenGettingNewRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Access</defaultConnectorLabel>
        <rules>
            <name>checkPermissions_access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.GenerateSROI</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>introduction</targetReference>
            </connector>
            <label>Access</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkSettingsFound</name>
        <label>Settings Found?</label>
        <locationX>677</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>screenNoSettings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>checkSettingsFound_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getSROISettings.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenPreview</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>helpRecentSettings</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 30</expression>
    </formulas>
    <interviewLabel>SROI - Screen - Initiate SROI Calc {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SROI - Screen - Initiate SROI Calc</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getSROICalculations</name>
        <label>Get Created Calculations</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screenNewSROI</targetReference>
        </connector>
        <faultConnector>
            <targetReference>rollbackSROI</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>settingsId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getSROISettings.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SROI_Calculation__c</object>
        <sortField>residentGraduationDate__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSROISettings</name>
        <label>Get SROI Settings</label>
        <locationX>677</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkSettingsFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SystemModstamp</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>helpRecentSettings</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sroiSettings__mdt</object>
        <sortField>SystemModstamp</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>rollbackSROI</name>
        <label>Rollback SROI Records</label>
        <locationX>446</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>screenGettingNewRecords</targetReference>
        </connector>
    </recordRollbacks>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>introduction</name>
        <label>Intro</label>
        <locationX>677</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getSROISettings</targetReference>
        </connector>
        <fields>
            <name>screenIntro_info</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Ready to recalculate &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Social Return on Investment&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;? Click &quot;Generate SROI&quot; to continue.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Generate SROI</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Usually encountered due to Permission Issues</description>
        <name>screenGettingNewRecords</name>
        <label>Error: Getting New Records</label>
        <locationX>446</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorGettingNewRecords</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(189, 0, 0);&quot;&gt;No Calculations have been saved.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;An error occurred creating or retrieving new SROI Calculations.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This is mostly like a Permission issue. If you are supposed to have access, please contact Collective leadership.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u&gt;Error Details:&lt;/u&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenNewSROI</name>
        <label>Display new SROI</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>screenNewSROI_preview</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>SROI_Calculation__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>getSROICalculations</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-f71a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:0,&quot;label&quot;:&quot;SROI Calculation Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;graduate__c&quot;,&quot;guid&quot;:&quot;column-d9aa&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Graduate&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;residentGraduationDate__c&quot;,&quot;guid&quot;:&quot;column-06e6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Graduation Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;sroiTotal__c&quot;,&quot;guid&quot;:&quot;column-e38b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;SROI Total&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenNoSettings</name>
        <label>No Settings</label>
        <locationX>974</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>screenNoSettings_error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(255, 115, 0);&quot;&gt;No SROI Settings Found&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;SROI Settings older than 30 days are not used. Please Create/Clone a new version of the Settings.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>checkSettingsFound_yes</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>screenNoSettings_inaccurate</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 115, 0); font-size: 16px;&quot;&gt;Inaccurate SROI Settings&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Inaccurate Settings should not be used. Please Create/Clone a new version of the Settings.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>checkConfirmation_accurate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>screenNoSettings_instructions</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(115, 88, 24);&quot;&gt;Prerequisites:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;You must have the &quot;SROI - Manage Calculations&quot; &lt;u&gt;Permission Set&lt;/u&gt; (granted via &lt;u&gt;Permission Set Group&lt;/u&gt;).&lt;/p&gt;&lt;p&gt;&lt;strong&gt;If you do not have this Permission Set&lt;/strong&gt;, please request a Collective Leader to Generate SROI Calculations &lt;strong&gt;&lt;em&gt;instead&lt;/em&gt;&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(115, 88, 24);&quot;&gt;Instructions:&lt;/strong&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;Navigate to &lt;strong style=&quot;font-family: serif;&quot;&gt;Setup&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;Navigate to &lt;strong style=&quot;font-family: serif;&quot;&gt;Custom Metadata Types&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;Click &quot;&lt;u&gt;Manage Records&lt;/u&gt;&quot; next to &quot;&lt;em&gt;SROI Settings&lt;/em&gt;&quot;&lt;/li&gt;&lt;li&gt;Click &lt;strong style=&quot;font-family: serif;&quot;&gt;New&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;OR&lt;/strong&gt; Click a relevant existing record&lt;ol&gt;&lt;li&gt;Click &lt;strong style=&quot;font-family: serif;&quot;&gt;Clone&lt;/strong&gt; to get a headstart&lt;/li&gt;&lt;/ol&gt;&lt;/li&gt;&lt;li&gt;Once Saved, return to this screen&lt;/li&gt;&lt;/ol&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenPreview</name>
        <label>Preview Settings</label>
        <locationX>380</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>checkConfirmation</targetReference>
        </connector>
        <fields>
            <name>screenPreview_basics</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Settings Name:&lt;/strong&gt; {!getSROISettings.Label}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Settings Modified:&lt;/strong&gt; {!getSROISettings.SystemModstamp}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screenPreview_preview</name>
            <fieldText>Configuration Preview</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screenPreview_preview_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screenPreview_preview_medicaidYes</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Medicaid - Employer Sponsored&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;${!getSROISettings.medicaidEmployerSponsored__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>screenPreview_preview_treatment</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Substance Treatment Cost&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;${!getSROISettings.substanceTreatmentCost__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>screenPreview_preview_recidivism</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Recidivism Cost&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;${!getSROISettings.recidivismCost__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>screenPreview_preview_fedTax1</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Federal Tax Bracket 1&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;${!getSROISettings.fedTaxBracket_1_amount__c} at {!getSROISettings.fedTaxBracket_1_percent__c}%&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screenPreview_preview_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screenPreview_preview_medicaidNo</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Medicaid - Not Sponsored&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;${!getSROISettings.medicaidNotSponsored__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>screenPreview_preview_treatmentRate</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Substance Treatment Relapse Rate&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!getSROISettings.substanceTreatmentRelapseRate__c}%&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>screenPreview_preview_recidivismYear1</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Recidivism Rate - Year 1&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!getSROISettings.recidivismRateYr1__c}%&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>screenPreview_preview_fedTax2</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Federal Tax Bracket 2&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;${!getSROISettings.fedTaxBracket_2_amount__c} at {!getSROISettings.fedTaxBracket_2_percent__c}%&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>screenPreview_disclaimer</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(115, 88, 24);&quot;&gt;Warning! &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Continuing with incorrect Settings will impact the Collective&apos;s reporting. Mark the toggle below accurately.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screenPreview_confirm</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>I confirm this Configuration is correct</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Correct</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Inaccurate</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Generate Calculations</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>831</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkPermissions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Creates the Baseline Metrics for each Graduate. Then, an After Create Flow collects the Custom Metadata Settings and performs the SROI Calculations</description>
        <name>Create_Baseline_SROI_Metrics</name>
        <label>Create Baseline SROI Metrics</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>checkErrors</targetReference>
        </connector>
        <flowName>SROI_Create_Baseline_SROI_Metrics</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
