force-app/main/default/flows/Update_Resident_with_Work_Experience.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Since this WAS Active, it occupied the Reports To. Changing it to Inactive then leaves them &quot;unemployed&quot; (if there are no other active employments...)</description>
        <name>Clear_Resident_Reports_To</name>
        <label>Clear Resident Reports To</label>
        <locationX>490</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>DeterminedReportsTo</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Manager_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Keep_Resident_Reports_To</name>
        <label>Keep Resident Reports To</label>
        <locationX>1018</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>DeterminedReportsTo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Resident__r.ReportsToId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Manager_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Match_Work_Experience_Reports_To</name>
        <label>Match Work Experience Reports To</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>DeterminedReportsTo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Manager_or_Point_of_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Manager_changed_Active</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>If we&apos;re not aiming to make a change, we should preserve the value (since it is updated later in the flow).
Does not yet account for updates to a solo WE; which should adjust the start date since it&apos;s the only WE.</description>
        <name>Resident_Job_Start_Date_Shouldn_t_Change</name>
        <label>Resident Job Start Date Shouldn&apos;t Change</label>
        <locationX>864</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>DeterminedJobStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Resident__r.residentJobStartDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Active_Work_Experience</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This Work Experience should update the Resident&apos;s Job Start Date</description>
        <name>Work_Experience_and_Resident_Job_Start_Date_the_Same</name>
        <label>Work Experience and Resident Job Start Date the Same</label>
        <locationX>336</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>DeterminedJobStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Active_Work_Experience</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>We want to record the date each Resident starts their FIRST Job under the Collective. We&apos;ll check if this Work Experience is suitable to provide this date.</description>
        <name>Check_Resident_s_Job_Start_Date</name>
        <label>Check Resident&apos;s Job Start Date</label>
        <locationX>600</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Resident_Job_Start_Date_Shouldn_t_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Date is Later</defaultConnectorLabel>
        <rules>
            <name>No_Job_Start_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Resident__r.residentJobStartDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Work_Experience_and_Resident_Job_Start_Date_the_Same</targetReference>
            </connector>
            <label>No Job Start Date</label>
        </rules>
        <rules>
            <name>New_Date_is_Earlier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.Resident__r.residentJobStartDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Work_Experience_and_Resident_Job_Start_Date_the_Same</targetReference>
            </connector>
            <label>New Date is Earlier</label>
        </rules>
    </decisions>
    <decisions>
        <description>If this is an active/current Work Experience, we should set the [Reports To] field. Even if the [Manager or Point of Contact] is null, we want to keep the Resident updated so we don&apos;t reach out to an old contact.</description>
        <name>Is_Active_Work_Experience</name>
        <label>Is Active Work Experience?</label>
        <locationX>600</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Keep_Resident_Reports_To</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inactive</defaultConnectorLabel>
        <rules>
            <name>Current</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Match_Work_Experience_Reports_To</targetReference>
            </connector>
            <label>Active</label>
        </rules>
        <rules>
            <name>Active_to_Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Resident_Reports_To</targetReference>
            </connector>
            <label>Active to Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manager_changed</name>
        <label>Manager changed</label>
        <locationX>1018</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Update_Resident_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Manager_or_Point_of_Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Manager_or_Point_of_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Previous_Manager_Relationship</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Manager_or_Point_of_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Manager_Relationship_2</targetReference>
            </connector>
            <label>New Record</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the Manager was changed, the Reports To will take care of the NEW relationship, but we need to update the OLD. For the same reason, we can ignore NEW Work Experiences.</description>
        <name>Manager_changed_Active</name>
        <label>Manager changed</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Update_Resident_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Manager_Changed_Yes_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Manager_or_Point_of_Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Manager_or_Point_of_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Previous_Manager_Relationship_Active</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Now creates relationships for Inactive Work Experiences</description>
    <environments>Default</environments>
    <interviewLabel>Update Resident with Work Experience {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Resident with Work Experience</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Resident_record</name>
        <label>Update Resident record</label>
        <locationX>600</locationX>
        <locationY>1331</locationY>
        <inputAssignments>
            <field>ReportsToId</field>
            <value>
                <elementReference>DeterminedReportsTo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>residentJobStartDate__c</field>
            <value>
                <elementReference>DeterminedJobStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Resident__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>474</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Resident_s_Job_Start_Date</targetReference>
        </connector>
        <object>Work_Experience__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Creates a new Relationship if one does not exist for this Manager; otherwise, updates it.</description>
        <name>New_Manager_Relationship</name>
        <label>New Manager Relationship</label>
        <locationX>754</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Update_Resident_record</targetReference>
        </connector>
        <flowName>Create_Relationship</flowName>
        <inputAssignments>
            <name>contactId</name>
            <value>
                <elementReference>$Record.Resident__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>description</name>
            <value>
                <elementReference>RelationshipDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>relatedToContactId</name>
            <value>
                <elementReference>$Record.Manager_or_Point_of_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>status</name>
            <value>
                <stringValue>Former</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>type</name>
            <value>
                <stringValue>Employer</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Creates a new Relationship if one does not exist for this Manager; otherwise, updates it.</description>
        <name>New_Manager_Relationship_2</name>
        <label>New Manager Relationship</label>
        <locationX>1018</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Update_Resident_record</targetReference>
        </connector>
        <flowName>Create_Relationship</flowName>
        <inputAssignments>
            <name>contactId</name>
            <value>
                <elementReference>$Record.Resident__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>description</name>
            <value>
                <elementReference>RelationshipDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>relatedToContactId</name>
            <value>
                <elementReference>$Record.Manager_or_Point_of_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>status</name>
            <value>
                <stringValue>Former</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>type</name>
            <value>
                <stringValue>Employer</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Updates the Relationship for the old manager</description>
        <name>Previous_Manager_Relationship</name>
        <label>Previous Manager Relationship</label>
        <locationX>754</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>New_Manager_Relationship</targetReference>
        </connector>
        <flowName>Create_Relationship</flowName>
        <inputAssignments>
            <name>contactId</name>
            <value>
                <elementReference>$Record.Resident__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>description</name>
            <value>
                <elementReference>RelationshipDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>relatedToContactId</name>
            <value>
                <elementReference>$Record__Prior.Manager_or_Point_of_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>status</name>
            <value>
                <stringValue>Former</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>type</name>
            <value>
                <stringValue>Employer</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Updates the Relationship for the old manager</description>
        <name>Previous_Manager_Relationship_Active</name>
        <label>Previous Manager Relationship</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Update_Resident_record</targetReference>
        </connector>
        <flowName>Create_Relationship</flowName>
        <inputAssignments>
            <name>contactId</name>
            <value>
                <elementReference>$Record.Resident__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>description</name>
            <value>
                <elementReference>RelationshipDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>relatedToContactId</name>
            <value>
                <elementReference>$Record__Prior.Manager_or_Point_of_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>status</name>
            <value>
                <stringValue>Former</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>type</name>
            <value>
                <stringValue>Employer</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>RelationshipDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Resident__r.FirstName} worked with {!$Record.Manager_or_Point_of_Contact__r.FirstName} at {!$Record.Employer_Resolved__c} from {!$Record.Start_Date__c} to {!$Record.End_Date__c}</text>
    </textTemplates>
    <variables>
        <description>The Resident&apos;s Job Start Date. Determined by whether this Work Experience should or should not update the value.</description>
        <name>DeterminedJobStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Either the Manager/Point of Contact of an Active Work Experience or no change for an Inactive Work Experience</description>
        <name>DeterminedReportsTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ManagerRelationship</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe4__Relationship__c</objectType>
    </variables>
</Flow>
