force-app/main/default/flows/Work_Experience_After_Update_Health_Benefits.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <customErrors>
        <name>Error_Updating_Resident</name>
        <label>Error Updating Resident</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <customErrorMessages>
            <errorMessage>Unable to update Graduate&apos;s Health Benefits</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>checkResidentStatus</name>
        <label>Resident Status</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>checkResidentStatus_graduate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Resident__r.Stakeholder_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Graduated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Scan_Work_Experience_for_Health_Benefits</targetReference>
            </connector>
            <label>Graduate</label>
        </rules>
    </decisions>
    <description>Performs actions when a Work Experience is created or updated with Health Benefits.
Includes firing the Resident Health Benefits flow to facilitate SROI.</description>
    <environments>Default</environments>
    <interviewLabel>Work Experience - After Update - Health Benefits {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Experience - After Create/Update - Health Benefits</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Updating only if Health Benefits do not match</description>
        <name>Update_Resident</name>
        <label>Update Resident</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <faultConnector>
            <targetReference>Error_Updating_Resident</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stakeholder_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Graduated</stringValue>
            </value>
        </filters>
        <filters>
            <field>graduateHealthBenefits__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Scan_Work_Experience_for_Health_Benefits.hasHealthBenefits</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>graduateHealthBenefits__c</field>
            <value>
                <elementReference>Scan_Work_Experience_for_Health_Benefits.hasHealthBenefits</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Resident__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkResidentStatus</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Health_Benefits__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Work_Experience__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Scan_Work_Experience_for_Health_Benefits</name>
        <label>Scan Work Experience for Health Benefits</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_Resident</targetReference>
        </connector>
        <flowName>Work_Experience_Invoked_Update_Graduate_s_Health_Benefits</flowName>
        <inputAssignments>
            <name>inputGraduationDate</name>
            <value>
                <elementReference>$Record.Resident__r.residentGraduationDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputResidentId</name>
            <value>
                <elementReference>$Record.Resident__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
