force-app/main/default/flows/Work_Experience_Invoked_Update_Graduate_s_Health_Benefits.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Set_Found_Work_Experiences</name>
        <label>Set Found Work Experiences</label>
        <locationX>270</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>errorNoWorkExperiences</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopWorkExperiences</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setHealthBenefits</name>
        <label>Set Health Benefits</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>hasHealthBenefits</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Found_Work_Experiences</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkHealthBenefits</name>
        <label>Health Benefits?</label>
        <locationX>270</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Set_Found_Work_Experiences</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkHealthBenefits_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopWorkExperiences.Health_Benefits__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setHealthBenefits</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkInputValid</name>
        <label>Was Input Provided?</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>checkInputValid_id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputResidentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputResidentId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputGraduationDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getWorkExperiences</targetReference>
            </connector>
            <label>Id</label>
        </rules>
    </decisions>
    <description>Given a Contact Id, determine if the Resident had Health Benefits at the time of Graduation. Accommodates a change to the Resident Status or a Work Experience event.</description>
    <environments>Default</environments>
    <interviewLabel>Work Experience - Invoked - Update Graduate&apos;s Health Benefits {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Experience - Invoked - Search Graduate&apos;s Work Experiences</label>
    <loops>
        <name>loopWorkExperiences</name>
        <label>Loop Work Experiences</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <collectionReference>getWorkExperiences</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkHealthBenefits</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Started before graduation. And, has not ended - or ended after graduation</description>
        <name>getWorkExperiences</name>
        <label>Get Work Experiences near Graduation</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopWorkExperiences</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Resident__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputResidentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>inputGraduationDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>inputGraduationDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Work_Experience__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Health_Benefits__c</queriedFields>
        <sortField>Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkInputValid</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>countWorkExperiences</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>errorNoWorkExperiences</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>hasHealthBenefits</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>inputGraduationDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Contact record id with Stakeholder Status of Graduate</description>
        <name>inputResidentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
